html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}

#TitlePage {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 180px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 9;
    color: rgb(0, 183, 255);
}

.headbar {
    position: fixed;
    width: 1600px;
    height: 100px;
    border-radius: 0%;
}

#firstNameDisplayed {
    color: rgb(255, 255, 255);
    opacity: 150;
    width: 30%;
    font-size: 100px;
    top: 200px;
    left: 35%;
    animation: text 6s 1;
}

#secondText {
    color: rgb(255, 145, 0);
    width: 1440px;
    font-size: 70px;
    top: 550px;
    animation: text2 10s 1;
    opacity: 150
}

.menuSetup {
    position: absolute;
    z-index: 3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    letter-spacing: 4px;
}

@keyFrames text {
    0% {
        color: white;
        margin-bottom: 240px;
        letter-spacing: 2px;
        opacity: 0;
    }
    80% {
        color: white;
        margin-bottom: 240px;
        letter-spacing: 2px;
        opacity: 0;
    }
}

@keyFrames text2 {
    0% {
        color: white;
        margin-bottom: 590px;
        letter-spacing: 2px;
        opacity: 0;
    }
    70% {
        color: white;
        margin-bottom: 590px;
        letter-spacing: 2px;
        opacity: 0;
    }
}

.zoomOnTitle {
    background-color: rgb(255, 136, 0);
    position: fixed;
    text-align: left;
    top: 100px;
    left: -60px;
    width: 110%;
    height: 10px;
    z-index: 20;
    animation: movingRect 5s 1 0s;
}

@keyFrames movingRect {
    0% {
        width: 0%;
    }
}

.secondLine {
    background-color: rgb(0, 183, 255);
    position: fixed;
    text-align: left;
    top: 110px;
    left: -10%;
    width: 110%;
    height: 10px;
    z-index: 20;
    animation: movingRect2 5s 1;
}

@keyFrames movingRect2 {
    0% {
        left: 110%;
    }
}

#textBox {
    position: absolute;
    top: 900px;
    width: 2000px;
    z-index: 20;
    overflow-x: hidden;
}

#aboutMePage {
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 4;
    top: 1200px;
    left: 1000px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

#aboutMe {
    color: rgb(0, 162, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 40px;
    font-weight: bold;
    text-decoration: none;
    left: 50%;
    z-index: 6;
}

#school {
    position: absolute;
    left: -10px;
    top: 100px;
    width: 110%;
    z-index: 1;
}

#logo2018 {
    position: absolute;
    left: -60px;
    text-decoration: gray;
    top: 100px;
    width: 110%;
    z-index: 5;
}